<p>menu works!</p>
<a [routerLink]="['',{outlets: {'data': ['login']}}]"> Login</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['',{outlets: {'data': ['loginreactive']}}]"> Login Reactive</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['',{outlets: {'data': ['employ']}}]"> Employ</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['',{outlets: {'data': ['employreactive']}}]"> Employ Reactive</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['',{outlets: {'data': ['customer']}}]"> Customer</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a [routerLink]="['',{outlets: {'data': ['foodmenu']}}]"> FoodMenu</a> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<router-outlet name="data"></router-outlet>