<p>customer works!</p>
<table border="3">
    <tr>
        <th>Customer Id</th>
        <th>CustomerName</th>
        <th>Customer Email</th>
        <th>Customer Password</th>
        <th>Customer Mobile</th>
        <th>Customer Address</th>
    </tr>
    <tr *ngFor="let e of cus | async">
        <td>{{e.custId}}</td>
        <td>{{e.custName}}</td>
        <td>{{e.cusEmail}}</td>
        <td>{{e.cusPassword}}</td>
        <td>{{e.cusMobile}}</td>
        <td>{{e.cusAddress}}</td>
    </tr>
</table>